*{
    margin: 0;
    padding: 0;
    
   

}

body{
    display: flex;
    flex-direction: column;
    width: 700px;
    padding: 20px;

}

.cabecera{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    width: 100%;
    height: 40px;
}

    .cab-iz{
        width: 350px;
        background-color: red;
    }

    .cab-der{
        width: 350px ;
        background-color: green;
    }

.cuerpo{
    display: flex;
    height: 100%;
    height: 250px;
    
}

    .cuer-iz{
        width: 100px;
        background-color: #44546a;
    }

    .cuer-centr{
        width: 500px;
        display: flex;
        
        
    }

        .cen-cen{
            display: flex;
            flex-direction: column;
            height: 240px;
            width: 450px;
            padding: 30px;
            border: 1px solid black;
        }

            .arriba{
                height: 60px;
                display: flex;
                flex-direction: row;
                border: 1px solid black;
            }
            .medio{
                height: 60px;
                display: flex;
                flex-direction: row;
                border: 1px solid black;
            }

            .abajo{
                height: 60px;
                display: flex;
                flex-direction: row;
                border: 1px solid black;
            }
                .iz{
                    width: 240px;
                    height: auto;
                    padding: 5px 10px;
                    border: 1px solid black;
                }

                .der{
                    width: 240px;
                    height: auto;
                    border: 1px solid black;
                }
    .cuer-der{
        width: 100px;
        background-color: #ffff00;
    }

.pie{
    height: 250px;
    width: 100%;
    background-color: #ffc000;
    align-items: center;
    justify-content: center;
}

    .cent-pie{
        display: flex;
        flex-direction: column;
        padding: 0px 100px;
        height: 160px;
        width: 500px; 
         
    }
        .centro{
            width: 240px;
            height: auto;
            border: 1px solid black;
        }
        
        .abajo-pie{
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            padding: 40px 0px 200px 0px;
        }
